@import url('https://fonts.google.com/specimen/Poppins');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background:  #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(91, 102, 102, 0.333);
}
.container .left_Side
{
    position: relative;
    background: #000;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #f9004d;
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
    color: #f9004d;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #f9004d;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
}
.contactInfo.projetos li
{
    margin-bottom: 15px;
}
.contactInfo.projetos h5
{
    color: #f9004d;
    font-weight: 500;
}
.contactInfo.projetos h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.projetos h4
{
    color: #f9004d;
    font-weight: 300;
}
.contactInfo.dominios .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #4d4c4c;
    display: block;
    margin-top: 5px;
}
.contactInfo.dominios .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f9004d;
}
.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}   
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #000;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 200px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #494343;
    font-weight: 600;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #f9004d;
    font-size: 16px;
}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #4d4c4c;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f9004d;
}